apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0.44-debian
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-database

            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-user

            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-password

            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
          

#kubectl create secret generic <db-secret> \ --from-literal=DB_HOST=mysql \--from-literal=DB_PORT=3306 \--from-literal=DB_NAME=mydb \--from-literal=DB_USER=admin\--from-literal=DB_PASSWORD=password    -->create a secret for databases
#kubectl exec -it deploy/<deployment_name> -- /bin/bash
#mysql -u admin -p 