version: "3.9"
services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    volumes:
      - "/:/host:ro,rslave"
    ports:
      - "9100:9100"
    networks:
      - delulu
    command:
      - "--path.rootfs=/host"

networks:
  delulu:
    driver: bridge